<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-scrolled">
  <div class="container d-flex align-items-center">
    <div class="icon text-center bannerLogo">
      <i class="ri-award-fill"></i>
    </div>
    <h1 class="logo mr-auto">
      <a href="index.html">Awards and Recognition</a>
    </h1>
    <h1 class="logo mr-auto">
      &nbsp;
    </h1>
    <a href="#about" class="get-started-btn scrollto">Get Started</a>
  </div>
</header>
<!-- End Header -->
